.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
}
ul {
  display: flex;
}
.Header {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.Header li {
  margin: 15px;
  list-style: none;
}
.cover img {
  object-fit: cover;
  width: 1200px;
}
.logo img {
  width: 100px;
}

main img {
  height: 220px;
  width: 160px;
  object-fit: cover;
}
.section {
  display: flex;
  width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: center;
}
.product {
  width: 180px;
  margin-top: 10px;
  margin: 10px;

  text-align: left;
  border: solid 1px lightgray;
}
.product img {
  width: 100%;
}
.product p {
  border: solid 1 px red;
}

p {
  font-size: 13px;
}

.Offer {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  margin-top: 50px;
}

.Offer img {
  height: 300px;
}
